$foreground-color: #ffffff;
$background-color: #000000;
$active-color: #8000ff;
$font-stack: MediumJP;
$text-color: #444444;
@import url("../../res/fnt/font.css");
@import url("../css/comp/border.css");
@import url("../css/comp/menu.css");

/*inherited*/
html { 
    background-color: $background-color;
    image-rendering: optimizeQuality;
}
/*font*/
.font {
    font-family: $font-stack;
    color:$text-color;
    vertical-align: middle;
}
/*center text*/
.txtctr {
    text-align-last: center;
}
/*center block*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*static image*/
#fixedimage {
    z-index: -1;
    position: fixed;
    right: -6px;
    bottom: 0px;
    width: 256px;
    height: auto;
}