---
# Template
---

@import 'global';
@import url("../res/fnt/font.css");
@import url("../css/comp/border.css");
@import url("../css/comp/menu.css");

* {
    cursor: url("../res/cursor/sans.cur"), auto;
}

/*inherited*/
html { 
    background-color: $text-color;
    image-rendering: optimizeQuality;
}

body {
    font-family: roundedJP;
    display: block;
    position: absolute;
    top: 100px;
    h1 {
        text-shadow: 4px 4px gray;
    }
}

@keyframes scroller {
    from { transform: translateX(-100%);}
    to { transform: translateX(100%);}
}

span {
    top: 48px;
    width: 100%;
    font-size: 32px;
    font-family: $font-stack;
    position: fixed;
    margin: 0;
    overflow-x: hidden;
    transform: translateX(-100%);
    animation-name: scroller;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*font*/
.font {
    font-family: $font-stack;
    color:$text-color;
    vertical-align: middle;
}
/*center text*/
.txtctr {
    text-align-last: center;
}
/*center block*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*static image*/
#fixedimage {
    z-index: -1;
    position: fixed;
    right: -6px;
    bottom: 0px;
    width: 256px;
    height: auto;
}