@import url("../../res/fnt/font.css");
@import url("../css/comp/border.css");
@import url("../css/comp/menu.css");
/*inherited*/
html {
  background-color: #444444;
  image-rendering: optimizeQuality;
}

@keyframes scroller {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

span {
  top: 48px;
  width: 100%;
  font-size: 32px;
  font-family: MediumJP;
  position: absolute;
  margin: 0;
  overflow-x: hidden;
  transform: translateX(-100%);
  animation-name: scroller;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*font*/
.font {
  font-family: MediumJP;
  color: #444444;
  vertical-align: middle;
}

/*center text*/
.txtctr {
  text-align-last: center;
}

/*center block*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*static image*/
#fixedimage {
  z-index: -1;
  position: fixed;
  right: -6px;
  bottom: 0px;
  width: 256px;
  height: auto;
}
