---
title: wack
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include shitpost/head.html title=page.title %}
        <link rel="stylesheet" type="text/css" href="/shitpost/css/backgrounds/seigaiha.css">
        <link rel="stylesheet" type="text/css" href="page2.css">
    </head>

    {% include shitpost/nav.html current=page.title %}

    <iframe src="https://discordapp.com/widget?id=702244337358078012&theme=dark" width="300" height="400" allowtransparency="true" frameborder="0"></iframe>

    {% include shitpost/border.html %}
    {% include shitpost/image.html src="thanos.gif" %}
</html>