---
#404
---

@import url("/shitpost/res/fnt/font.css");

html {
    background-color: #000000;
    width:100%; 
    height:100%; 
}
.noise {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 1;
}
span {
    z-index: 0;
    font-family: roundedJP;
    font-size: 128px;
    z-index: 1;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -25%);
}

img {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
 }