---
title: home
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include shitpost/head.html title=page.title %}
        <link rel="stylesheet" type="text/css" href="/shitpost/css/backgrounds/japanesebox.css">
        <link rel="stylesheet" type="text/css" href="page1.css">
    </head>

    {% include shitpost/nav.html current=page.title %}

    <div>
        <h1>
            please let me explain
        </h1>
    </div>

    {% include shitpost/border.html %}
    {% include shitpost/image.html src="baldi.gif" %}
</html>