---
---

.text {
    display: inline-block;
    position: static;
    margin: 2.5%;
    //transform: translate(-50%, -50%);
    margin-top: 10%;
    width: 46.26%;
    height: 40%;
    li {
        display: inline;
        h1 {
            margin: 0%;
            display: block;
            position: static;
        }
        p {
            display: block;
            position: static;
        }
    }
}