<div>
    <ul>
        <li>
            <a {% if page.title == 'wack' %}class="active"{% endif %} href="page1.html" target="_parent">home</a>
        </li>
        <li>
            <a {% if page.title == 'wack' %}class="active"{% endif %} href="page2.html" target="_parent">wack</a>
        </li>
        <li>
            <a {% if page.title == 'wack' %}class="active"{% endif %} href="page3.html" target="_parent">music</a>
        </li>
        <li class="hidden">
            <a href="hidden.html" target="_parent">.</a>
        </li>
    </ul>        
</div>