<title>{{ include.title }}</title>
<!--meta-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--preload-->
<link rel="preload" href="/shitpost/res/fnt/Corporate-Logo-Medium.woff2" as="font">
<link rel="preload" href="/shitpost/res/fnt/Corporate-Logo-Rounded.woff2" as="font">
<!--setup-->
<link rel="icon" href="/shitpost/res/img/favicon.png">
<link rel="stylesheet" type="text/css" href="/design/css/shared.css">
<link rel="stylesheet" type="text/css" href="/design/css/skeuos.css">

<!--search engine-->
<meta name="description" content="gamer">
<meta name="image" content="/shitpost/res/img/mario.gif">
<!--schema.org for google-->
<meta itemprop="name" content="gaming.cockandballtorture.online">
<meta itemprop="description" content="This is how a UI and UX experience should be">
<meta itemprop="image" content="/shitpost/res/img/mario.gif">
<!--open graph general-->
<meta name="og:title" content="gaming.cockandballtorture.online">
<meta name="og:description" content="Proper UI">
<meta name="og:image" content="/shitpost/res/img/mario.gif">
<meta name="og:url" content="gaming.cockandballtorture.online">
<meta name="og:site_name" content="Design">
<meta name="og:locale" content="en_US">
<meta name="og:type" content="website">