$foreground-color: #ffffff;
$border-thickness: 4px;
$offset: 0px;

/*border rules*/
%border-all {
    background: $foreground-color; 
    position: fixed;
}
%border-lr {
    top: 48px; /*topbar offset*/
    bottom: $offset; 
    width: $border-thickness;
}
%border-tb {
    left: $offset; 
    right: $offset; 
    height: $border-thickness;
}
#left { @extend %border-all; @extend %border-lr;    left: $offset;}
#right { @extend %border-all; @extend %border-lr;   right: $offset;}
#top { @extend %border-all; @extend %border-tb;     top: $offset; display: none;}
#bottom { @extend %border-all; @extend %border-tb;  bottom: $offset;}