/*border rules*/
#left, #right, #top, #bottom {
  background: #ffffff;
  position: fixed;
}

#left, #right {
  top: 48px;
  /*topbar offset*/
  bottom: 0px;
  width: 4px;
}

#top, #bottom {
  left: 0px;
  right: 0px;
  height: 4px;
}

#left {
  left: 0px;
}

#right {
  right: 0px;
}

#top {
  top: 0px;
  display: none;
}

#bottom {
  bottom: 0px;
}
