---
# Menu
---


@import url("../../res/fnt/font.css");
$foreground-color: #ffffff;
$background-color: #000000;
$active-color: #8000ff;
$font-stack: MediumJP;
$text-color: #444444;

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    background-color: $foreground-color;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 48px;
    right: 0px;
}
li {
    float: left;
    height: 100%;
    a {
        display: block;
        font-family: $font-stack;
        color: $text-color;
        text-align: center;
        font-size: 32px;
        padding: 5px 8px;
        text-decoration: none;
    }
    a:hover:not(.active) {
        background-color: $background-color;
    }
}

.active {
    background-color: $active-color;
}
.hidden {
    float: right;
    color: $foreground-color;
}
