---
title: wack
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="stylesheet" type="text/css" href="../css/bg/seigaiha.css">
        <link rel="stylesheet" type="text/css" href="../css/page2.css">
    </head>

    {% include nav.html %}

    <iframe src="https://discordapp.com/widget?id=702244337358078012&theme=dark" width="300" height="400" allowtransparency="true" frameborder="0"></iframe>

    {% include border.html %}
    {% include image.html src="thanos.gif" %}
</html>