!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title wack
    / meta
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    / setup
    %link{href: "../res/img/favicon.png", rel: "icon"}/
    %link{href: "../css/template.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "../css/bg/seigaiha.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "../css/page2.css", rel: "stylesheet", type: "text/css"}/
    / preload
    %link{as: "font", href: "../res/fnt/Corporate-Logo-Medium.woff2", rel: "preload"}/
    %link{as: "font", href: "../res/fnt/Corporate-Logo-Rounded.woff2", rel: "preload"}/
    / header junk
    %header
  %body
    %div
      %ul
        %li
          %a{href: "page1.html", target: "_parent"} home
        %li
          %a.active{href: "page2.html", target: "_parent"} wack
        %li
          %a{href: "page3.html", target: "_parent"} music
        %li.hidden
          %a{href: "hidden.html", target: "_parent"} .
    %iframe{allowtransparency: "true", frameborder: "0", height: "400", src: "https://discordapp.com/widget?id=702244337358078012&theme=dark", width: "300"}
    / border div
    #left
    #right
    #top
    #bottom
    / static image
    #fixedimage
      %img{src: "../res/img/thanos.gif"}/
    / javascript
    %script{src: "../js/default.js"}
